<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places"></ion-back-button>
    </ion-buttons>
    <ion-title>
      hola mundo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-card *ngFor="let photo of photos">
        <img [src]="photo.url" >
        <ion-card-content>
          <p>{{photo.title}}</p>
          <p>{{photo.id}}</p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>